<%= form_for @district do |f| %>

	<% if @district.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@district.errors.count, "error")%>
				prohibited this district from being saved:
			</h2>
			<ul>
				<% @district.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end%>
			</ul>
		</div>
	<% end %>
	

	<p>
	 <%= f.label :Name %><br>
	 <%= f.text_field :dis_name %>
	</p>


	<p>
	 <%= f.label :Province %><br>
	 <%= f.select(:province_id, @province_option) %>
	</p>

	

	<p>
	 <%= f.label :Note %><br>
	 <%= f.text_area :note %>
	</p>

	<p><%= f.submit %></p>

<% end %>